@font-face {
  font-family: 'TiemposHeadline';
  src: url('../fonts/TiemposHeadline600.woff2') format('woff2'),
       url('../fonts/TiemposHeadline600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposHeadline';
  src: url('../fonts/TiemposHeadline600i.woff2') format('woff2'),
       url('../fonts/TiemposHeadline600i.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'VestaPro';
  src: url('../fonts/VestaPro400.woff2') format('woff2'),
       url('../fonts/VestaPro400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VestaPro';
  src: url('../fonts/VestaPro400i.woff2') format('woff2'),
       url('../fonts/VestaPro400i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'VestaPro';
  src: url('../fonts/VestaPro700.woff2') format('woff2'),
       url('../fonts/VestaPro700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
