.ce-image {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: -4rem;
  padding-right: 4rem;
  width: 100%;
  z-index: 20;

  @media #{$mq-s} {
    margin-bottom: -6rem;
    padding-right: 25%;
  }

  @media #{$mq-m} {
    margin-bottom: -8rem;
  }

  @media #{$mq-l} {
    margin-bottom: -12rem;
  }

  &:nth-child(even) {
    padding-left: 4rem;
    padding-right: 0;

    @media #{$mq-s} {
      padding-left: 25%;
      padding-right: 0;
    }
  }

  &__image {
    height: auto;
    width: 100%;
  }
}
