.ce-icons {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 10;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  .ce-image + & {
    padding-top: 6rem;

    @media #{$mq-s} {
      padding-top: 8rem;
    }

    @media #{$mq-m} {
      padding-top: 12rem;
    }

    @media #{$mq-l} {
      padding-top: 16rem;
    }
  }

  &__title {
    max-width: 64rem;
    padding: 2rem;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    max-width: 64rem;
    padding: 1rem;
    width: 100%;

    @media #{$mq-s} {
      flex-flow: row wrap;
    }
  }

  &__item {
    hyphens: auto;
    padding: 1rem;
    width: 100%;

    @media #{$mq-s} {
      width: 50%;
    }

    @media #{$mq-l} {
      width: 25%;
    }

    &__icon {
      margin-bottom: 2rem;
      width: 6rem;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
