.ce-text {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 10;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  .ce-image + & {
    padding-top: 6rem;

    @media #{$mq-s} {
      padding-top: 8rem;
    }

    @media #{$mq-m} {
      padding-top: 12rem;
    }

    @media #{$mq-l} {
      padding-top: 16rem;
    }
  }

  &__title {
    max-width: 44rem;
    padding: 2rem;
    width: 100%;
  }

  &__text {
    @include lists;
    max-width: 44rem;
    padding: 2rem;
    width: 100%;
  }
}
