.ce-testimonial {
  align-items: center;
  background-color: $melon;
  color: $day;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 2rem 0;
  width: 100%;
  z-index: 10;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  .ce-image + & {
    padding-top: 6rem;

    @media #{$mq-s} {
      padding-top: 8rem;
    }

    @media #{$mq-m} {
      padding-top: 12rem;
    }

    @media #{$mq-l} {
      padding-top: 16rem;
    }
  }

  &__author {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    justify-content: flex-start;
    padding: 2rem;
    width: 100%;

    a {
      color: $day;
    }

    img {
      background-color: $day;
      border: .5rem $day solid;
      border-radius: 50%;
      height: 12rem;
      width: 12rem;
    }
  }

  &__text {
    padding: 2rem;
  }
}
