.form {
  @include margin-fix;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 40rem;
  overflow: hidden;
  width: 100%;

  &__field {
    @include margin-fix;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    width: 100%;

    &__label {
      color: $melon;
      flex: 1 1 auto;
    }

    &__text {
      appearance: none;
      background: none;
      border-bottom: .125rem solid $melon;
      border-radius: 0;
      color: $gray-dark;
      height: 2rem;
    }

    &__checkbox {
      appearance: none;
      background: none;
      border: .125rem solid $melon;
      border-radius: 0;
      cursor: pointer;
      height: 2rem;
      margin-right: .5rem;
      width: 2rem;
    }

    &__checkbox:checked {
      background-color: $melon;
      box-shadow: inset 0 0 0 .125rem $day;
    }

    &__select {
      appearance: none;
      background: none;
      border-bottom: .125rem solid $melon;
      border-radius: 0;
      color: $gray-dark;
      height: 2rem;
    }

    &__btn {
      @include margin-fix;
      background: none;
      border: .125rem $melon solid;
      border-radius: 0;
      color: $melon;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin-bottom: 2rem;
      margin-top: 2rem;
      max-width: 16rem;
      padding: .6125rem 1rem .375rem;
      transition: background-color ease-in-out .25s, color ease-in-out .25s;
      will-change: background-color, color;
    }

    &__btn:hover {
      background-color: $melon;
      color: $day;
    }

    &__error {
      font-style: italic;
      margin-top: .5rem;
      width: 100%;
    }

    &--honeypot {
      left: -1000rem;
      position: absolute;
      top: 0;
    }

    &--checkbox {
      align-items: center;
      flex-flow: row-reverse;
    }
  }
}
