.page-contact {
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  @media #{$mq-l} {
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__section {
    padding: 2rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-l} {
      max-width: 32rem;
      width: 50%;
    }
  }

  &__info {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    max-width: 40rem;
    width: 100%;

    &__text {
      flex: 0 1 auto;
      width: 100%;
    }

    &__image {
      flex: 0 0 auto;
      margin: 0 1rem 0 0;
      width: 6rem;

      @media #{$mq-s} {
        width: 8rem;
      }

      @media #{$mq-m} {
        width: 10rem;
      }

      @media #{$mq-l} {
        width: 8rem;
      }
    }

    img {
      border-radius: 50%;
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
