.page-header {
  align-items: center;
  background-color: $melon;
  display: flex;
  justify-content: center;
  padding: 6rem 0 4rem;
  width: 100%;

  @media #{$mq-s} {
    padding: 6rem 0;
  }

  @media #{$mq-m} {
    padding: 4rem 0 8rem;
  }

  @media #{$mq-l} {
    padding: 4rem 0 12rem;
  }

  &__title {
    max-width: 48rem;
    overflow: hidden;
    padding: 4rem 2rem 6rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 4rem 4rem 8rem;
    }
  }

  &__image {
    max-width: 68rem;
    overflow: hidden;
    padding: 2rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 2rem 4rem;
    }

    img {
      display: block;
      height: auto;
      margin-left: -25%;
      width: 200%;

      @media #{$mq-s} {
        margin-left: -12.5%;
        width: 150%;
      }

      @media #{$mq-m} {
        margin-left: -12.5%;
        width: 125%;
      }

      @media #{$mq-l} {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
